{% extends "main/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}

<main class="main">
        <section class="personal-cabinet">
            <div class="container">
                <div class="personal-cabinet__inner">
                    <div class="personal-cabinet__main">
                        <h1 class="personal-cabinet__title">
                            Follow Items
                        </h1>
                        <div class="flex-cards">
                            <div class="flex-card">
                                <img src="{% static 'main/images/flex-card.jpg' %}" alt="flex-card-img" class="flex-img">
                                <div class="flex-card__content">
                                    <h1 class="card__title">
                                        Crispy Sandwich
                                    </h1>
                                    <div class="flex-card__bottom">
                                        <h2 class="card__address">
                                            Fastfood Dine
                                        </h2>
                                        <div class="card__price">
                                            $3.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-card">
                                <img src="{% static 'main/images/flex-card.jpg' %}" alt="flex-card-img" class="flex-img">
                                <div class="flex-card__content">
                                    <h1 class="card__title">
                                        Crispy Sandwich
                                    </h1>
                                    <div class="flex-card__bottom">
                                        <h2 class="card__address">
                                            Fastfood Dine
                                        </h2>
                                        <div class="card__price">
                                            $3.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-card">
                                <img src="{% static 'main/images/flex-card.jpg' %}" alt="flex-card-img" class="flex-img">
                                <div class="flex-card__content">
                                    <h1 class="card__title">
                                        Crispy Sandwich
                                    </h1>
                                    <div class="flex-card__bottom">
                                        <h2 class="card__address">
                                            Fastfood Dine
                                        </h2>
                                        <div class="card__price">
                                            $3.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="personal-cabinet__title">
                            Own Recipes
                        </h1>
                        <div class="flex-cards">
                            <div class="flex-card">
                                <img src="{% static 'main/images/flex-card.jpg' %}" alt="flex-card-img" class="flex-img">
                                <div class="flex-card__content">
                                    <h1 class="card__title">
                                        Crispy Sandwich
                                    </h1>
                                    <div class="flex-card__bottom">
                                        <h2 class="card__address">
                                            Fastfood Dine
                                        </h2>
                                        <div class="card__price">
                                            $3.00
                                        </div>
                                    </div>
                                </div>
                                <div class="button">
                                    <p class="button__text">
                                        Check
                                    </p>
                                </div>
                            </div>
                            <div class="flex-card">
                                <img src="{% static 'main/images/flex-card.jpg' %}" alt="flex-card-img" class="flex-img">
                                <div class="flex-card__content">
                                    <h1 class="card__title">
                                        Crispy Sandwich
                                    </h1>
                                    <div class="flex-card__bottom">
                                        <h2 class="card__address">
                                            Fastfood Dine
                                        </h2>
                                        <div class="card__price">
                                            $3.00
                                        </div>
                                    </div>
                                </div>
                                <div class="button">
                                    <p class="button__text">
                                        Check
                                    </p>
                                </div>
                            </div>
                            <div class="flex-card">
                                <img src="{% static 'main/images/flex-card.jpg' %}" alt="flex-card-img" class="flex-img">
                                <div class="flex-card__content">
                                    <h1 class="card__title">
                                        Crispy Sandwich
                                    </h1>
                                    <div class="flex-card__bottom">
                                        <h2 class="card__address">
                                            Fastfood Dine
                                        </h2>
                                        <div class="card__price">
                                            $3.00
                                        </div>
                                    </div>
                                </div>
                                <div class="button">
                                    <p class="button__text">
                                        Check
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h1 class="personal-cabinet__title">
                            History
                        </h1>
                        <div class="cards">
                            <div class="card">
                                <img src="{% static 'main/images/index/popular/card__img.jpg' %}" alt="Cheese Burger" class="card__image">
                                <h1 class="card__title">
                                    Cheese Burger
                                </h1>
                                <p class="card__address">
                                    Burger Arena
                                </p>
                                <p class="card__price">
                                    $3.88
                                </p>
                            </div>
                            <div class="card">
                                <img src="{% static 'main/images/index/popular/card__img.jpg' %}" alt="Cheese Burger" class="card__image">
                                <h1 class="card__title">
                                    Cheese Burger
                                </h1>
                                <p class="card__address">
                                    Burger Arena
                                </p>
                                <p class="card__price">
                                    $3.88
                                </p>
                            </div>
                            <div class="card">
                                <img src="{% static 'main/images/index/popular/card__img.jpg' %}" alt="Cheese Burger" class="card__image">
                                <h1 class="card__title">
                                    Cheese Burger
                                </h1>
                                <p class="card__address">
                                    Burger Arena
                                </p>
                                <p class="card__price">
                                    $3.88
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="personal-cabinet__user">
                        <img src="{% static 'main/images/user-avatar.png' %}" alt="user-avatar" class="personal-cabinet__user-avatar">
                        <h1 class="personal-cabinet__title">
                            Anthony
                        </h1>
                        <p class="personal-cabinet__text">
                            I’am Anthony and Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing Lorem
                            Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem
                            Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}